pkgbase = usa-reddragon-base
	pkgdesc = USA-RedDragon Base Packages (meta-package)
	pkgver = 1.0
	pkgrel = 9
	url = https://github.com/USA-RedDragon/arch-packages
	arch = any
	license = None
	depends = usa-reddragon-keyring
	depends = base-devel
	depends = plymouth
	depends = plasma-meta
	depends = plasma-wayland-session
	depends = kde-system-meta
	depends = egl-wayland
	depends = sddm
	depends = sddm-kcm
	depends = xdg-desktop-portal-kde
	depends = kde-gtk-config
	depends = ark
	depends = konsole
	depends = kwalletmanager
	depends = gwenview
	depends = okular
	depends = breeze-plymouth
	depends = plymouth-kcm
	depends = partitionmanager
	depends = konversation
	depends = latte-dock
	depends = networkmanager-openvpn
	depends = libdbusmenu-glib
	depends = linux-hardened
	depends = linux-hardened-headers
	depends = supertuxkart
	depends = kbreakout
	depends = kbounce
	depends = kicad
	depends = kicad-library
	depends = kicad-library-3d
	depends = gnome-keyring
	depends = aarch64-linux-gnu-gcc
	depends = aarch64-linux-gnu-gdb
	depends = arm-none-eabi-gcc
	depends = arm-none-eabi-gdb
	depends = clang
	depends = lld
	depends = llvm
	depends = gcc
	depends = gdb
	depends = bazel
	depends = ccache
	depends = cmake
	depends = docker
	depends = docker-compose
	depends = dos2unix
	depends = git
	depends = ninja
	depends = nodejs
	depends = openssh
	depends = openssl
	depends = postgresql
	depends = python
	depends = python-pip
	depends = powerline
	depends = powerline-fonts
	depends = edk2-aarch64
	depends = edk2-arm
	depends = edk2-ovmf
	depends = qemu-system-aarch64
	depends = qemu-system-arm
	depends = qemu-system-riscv
	depends = qemu-system-x86
	depends = qemu-user
	depends = qemu-user-binfmt
	depends = qemu-desktop
	depends = android-udev
	depends = android-tools
	depends = archiso
	depends = curl
	depends = dmidecode
	depends = efibootmgr
	depends = ffmpeg
	depends = findutils
	depends = fwupd
	depends = fwupd-efi
	depends = grep
	depends = htop
	depends = imagemagick
	depends = iperf3
	depends = iproute2
	depends = lm_sensors
	depends = nano
	depends = neofetch
	depends = nftables
	depends = radare2
	depends = read-edid
	depends = reflector
	depends = ripgrep
	depends = rsync
	depends = sqlite
	depends = traceroute
	depends = which
	depends = wget
	depends = wireguard-tools
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	depends = virtualbox
	depends = virtualbox-host-dkms
	depends = virtualbox-guest-utils
	depends = rtl-sdr
	depends = hunspell
	depends = kernel-modules-hook
	depends = nvidia-settings
	depends = nvidia-utils
	depends = icedtea-web
	depends = jdk-openjdk
	depends = jdk11-openjdk
	depends = jre-openjdk
	depends = jre11-openjdk
	depends = mono
	depends = wine
	depends = winetricks
	depends = audacity
	depends = chromium
	depends = darktable
	depends = discord
	depends = firefox
	depends = flameshot
	depends = gimp
	depends = inkscape
	depends = remmina
	depends = steam
	depends = telegram-desktop
	depends = vlc
	depends = wireshark-cli
	depends = wireshark-qt
	depends = aws-cli
	depends = helm
	depends = tar
	depends = bzip2
	depends = pigz
	depends = gzip
	depends = unzip
	depends = zip
	depends = unrar
	depends = p7zip
	depends = xz
	depends = zstd
	depends = lz4
	depends = cpio
	depends = cifs-utils
	depends = dosfstools
	depends = e2fsprogs
	depends = exfatprogs
	depends = f2fs-tools
	depends = nfs-utils
	depends = squashfs-tools
	depends = cups
	depends = cups-pdf
	depends = cups-pk-helper
	depends = ca-certificates

pkgname = usa-reddragon-base
