pkgbase = usa-reddragon-base
	pkgdesc = USA-RedDragon Base Packages (meta-package)
	pkgver = 1.0
	pkgrel = 5
	url = https://github.com/USA-RedDragon/arch-packages
	arch = any
	license = None
	depends = usa-reddragon-keyring
	depends = plymouth
	depends = plasma-meta
	depends = plasma-wayland-session
	depends = kde-system-meta
	depends = egl-wayland
	depends = sddm
	depends = sddm-kcm
	depends = xdg-desktop-portal-kde
	depends = kde-gtk-config
	depends = ark
	depends = konsole
	depends = kwalletmanager
	depends = gwenview
	depends = okular
	depends = breeze-plymouth
	depends = plymouth-kcm
	depends = linux-hardened
	depends = linux-hardened-headers

pkgname = usa-reddragon-base
